<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row">
            <div class="col-12 text-end">
                <span class="custom"><button class="btn btn-sm btn-success" style="background-color: #008080" (click)="isListView()">Add Employee</button></span>
                <span><button class="btn btn-sm btn-primary" (click)="logout()">Logout</button></span>
            </div>
           
        </div>
        <div *ngIf="isListView" class="row justify-content-center align-items-center h-100">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Username</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let emp of employeeList; let sr= index">
                            <td>{{sr+1}}</td>
                            <td>{{emp.username}}</td>
                            <td>{{emp.firstName }}</td>
                            <td>{{emp.lastName}}</td>
                            <td>{{emp.email }} </td>
                            <td>
                                <span class="custom"><button class="btn btn-sm btn-primary" 
                                    style="background-color: 
                                    #008080!important; cursor: pointer;" (click)="onEdit(emp)">Edit</button></span>
                                <button class="btn btn-sm btn-danger" style="cursor: pointer" (click)="onDelete(emp)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>